body {
    background: linear-gradient(to right, #362b50 10%, var(--cinza) 40%, var(--preto) 80%);
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastro {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5%;
}

#titulo_cadastro {
    color: var(--branco);
    margin-top: 2%;
    margin-bottom: 2%;
}

#form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div_form label {
    color: var(--branco);
}

.div_form input {
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    height: 5vh;
    width: 12vw;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

.div_form select {
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    height: 5vh;
    width: 12vw;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

.div_form textarea{
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    height: 30vh;
    width: 30vw;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

#cadastro_direita {
    width: 100%;
    height: 100%;
    margin-left: 5%;
}

#cadastro_direita input {
    width: 30vw;
    height: 30vh;
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

#cadastro_esquerda {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#cadastro_esquerda input{
    width: 100%;
    height: 6vh;
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

#nome input{
    width: 100%;
    height: 6vh;
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

#class_indic select{
    width: 100%;
    height: 6vh;
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

#genero select{
    width: 100%;
    height: 6vh;
    background-color: var(--cinza);
    color: var(--branco);
     border: 1px solid transparent;
    border-color: var(--vermelho);
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

#esquerda_meio {
    width: 100%;
    height: 45%;
    display: flex;
    font-size: 15px;
    margin-bottom: 6%;
    margin-top: 10%;
    gap: 2%;
    display: flex;
    justify-content: space-between;
}

#esquerda_baixo {
    width: 100%;
    height: 45%;
    display: flex;
    font-size: 20px;
    gap: 2%;
    display: flex;
    justify-content: space-between;
}

#btn_cadastro {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--cinza-claro);
    border: 2px solid transparent;
    border-radius: 8px;
    border-color: var(--vermelho);
    background-color: var(--cinza);
}

#titulo_lista {
    color: var(--branco);
    margin-top: 2%;
    margin-bottom: 2%;
}